{% extends 'common/layout.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Aankoop Toevoegen <small>een aankoop aan de stock toevoegen</small></h1>
    </div>

    <div class="row">
        <div class="span3 columns">
            <p>Hier kan je een aankoop aan de stock van Verkoopbeheer toevoegen.</p>
            <a href="{{ url('common_stock') }}" class="btn">Terug</a>
        </div>
        <div class="span9 columns">
            {% autoescape false %}
                {{ form }}
            {% endautoescape %}
        </div>
    </div>
{% endblock %}